body {
  margin: 0;
}

h1 {
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.main {
  width: 800px;
  margin: 30px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: blue;
}

.link:hover {
  text-decoration: none;
  color: red;
}

.btn-elegant {
  display: inline-block;
  color: #00BB9C;
  border: 1px solid #00BB9C;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  background: white;
}

.btn-elegant:hover {
  background: #00BB9C;
  color: white;
}

.review-footer {
  opacity: 0.5;
}

.restaurant-name {
  font-style: italic;
}

.restaurant-info {
  padding: 10px 40px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
